/* Nordfox colorscheme */
@define-color black    #3b4252;
@define-color red      #bf616a;
@define-color green    #a3be8c;
@define-color yellow   #ebcb8b;
@define-color blue     #81a1c1;
@define-color magenta  #b48ead;
@define-color cyan     #88c0d0;
@define-color white    #e5e9f0;
@define-color orange   #c9826b;
@define-color pink     #bf88bc;
@define-color comment  #60728a;
@define-color bg0      #232831; /* Dark bg */
@define-color bg1      #2e3440; /* Default bg */
@define-color bg2      #39404f; /* Lighter bg */
@define-color bg3      #444c5e; /* Lighter bg */
@define-color bg4      #5a657d; /* Conceal, border fg */
@define-color fg0      #c7cdd9; /* Lighter fg */
@define-color fg1      #cdcecf; /* Default fg */
@define-color fg2      #abb1bb; /* Darker fg */
@define-color fg3      #7e8188; /* Darker fg */
@define-color sel0     #3e4a5b; /* */
@define-color sel1     #4f6074; /* */

/* Global */
* {
  font-family: "Cousine Nerd Font";
  font-size: 1.1rem;
  /* transition-property: background-color; */
  /* transition-duration: 0.5s; */
  background-color: @bg1;
}

@keyframes blink_red {
  to {
    background-color: @bg1;
    color: @red;
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode,
#clock,
#memory,
#temperature,
#cpu,
#mpd,
#idle_inhibitor,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-powermenu,
#custom-launcher,
#tray,
#disk,

/* Bar */
window#waybar {
  background-color: @bg1;
}

window > box {
  background-color: @bg1;
  margin-bottom: 0;
}

/* Workspaces */
#workspaces:hover {
  background-color: @green;
}

#workspaces button {
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  color: @fg0;
  background: @bg1;
}

#workspaces button.active {
  color: @blue;
}

#workspaces button:hover {
  /* border: .2px solid transparent; */
  color: @cyan;
}

/* Tooltip */
tooltip {
  background-color: @bg1;
}

tooltip label {
  color: @blue;
}

/* battery */
#battery {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @pink;
}
#battery.full {
  color: @green;
}
#battery.charging {
  color: @yellow;
}
#battery.discharging {
  color: @orange;
}
#battery.critical:not(.charging) {
  color: @red;
}
#custom-powermenu {
  color: @red;
}

/* mpd */
#mpd.paused {
  color: @pink;
  font-style: italic;
}
#mpd.stopped {
  color: @red;
  /* background: transparent; */
}
#mpd {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @yellow;
}
#custom-launcher {
  color: @yellow;
}
#memory {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @orange;
}
#cpu {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @blue;
}
#clock {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @fg0;
}
#idle_inhibitor {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @orange;
}
#temperature {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @pink;
}
#backlight {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @green;
}
#pulseaudio {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @blue;
}
#disk {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @yellow;
}
#language {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @green;
}
/* This is not a good solution, since the active text doesn't change color,
* but at least it is readable now when the cursor is over it */
#tray menu menuitem label {
  caret-color: @cyan;
}
