/* Global */
/* TODO: Finish color config https://github.com/i4pg/dotfiles/blob/main/private_dot_config/waybar/mocha.css */
* {
  font-family: "Cousine Nerd Font";
  font-size: 1.2rem;
  border-radius: 1rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: shade(@theme_base_color, 0.9);
}

@keyframes blink_red {
  to {
    background-color: @error_color;
    color: @theme_base_color;
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode,
#clock,
#memory,
#temperature,
#cpu,
#mpd,
#idle_inhibitor,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-powermenu,
#custom-launcher,
#tray,
#disk,

/* Bar */
window#waybar {
  background-color: transparent;
}

window > box {
  background-color: transparent;
  margin: 0.3rem;
  margin-bottom: 0;
}

/* Workspaces */
#workspaces:hover {
  background-color: @green;
}

#workspaces button {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  color: @red;
  /* border: .2px solid transparent; */
  background: transparent;
}

#workspaces button.focused {
  color: @blue;
}

#workspaces button:hover {
  /* border: .2px solid transparent; */
  color: @rosewater;
}

/* Tooltip */
tooltip {
  background-color: @tooltip_background;
}

tooltip label {
  color: @rosewater;
}

/* battery */
#battery {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @mauve;
}
#battery.full {
  color: @green;
}
#battery.charging {
  color: @teal;
}
#battery.discharging {
  color: @peach;
}
#battery.critical:not(.charging) {
  color: @pink;
}
#custom-powermenu {
  color: @red;
}

/* mpd */
#mpd.paused {
  color: @pink;
  font-style: italic;
}
#mpd.stopped {
  color: @rosewater;
  /* background: transparent; */
}
#mpd {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @lavender;
}
#custom-launcher {
  color: @yellow;
}
#memory {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @peach;
}
#cpu {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @blue;
}
#clock {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @rosewater;
}
#idle_inhibitor {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @green;
}
#temperature {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @sapphire;
}
#backlight {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @green;
}
#pulseaudio {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @mauve; /* not active */
}
#disk {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  color: @maroon;
}
#language {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}
